@keyframes load {
    0%{
        opacity: 1;
/*         font-size: 10px; */
/* 				font-weight: 400; */
				filter: blur(5px);
				letter-spacing: 3px;
        }
    100%{
/*         opacity: 1; */
/*         font-size: 12px; */
/* 				font-weight:600; */
/* 				filter: blur(0); */
        }
}

.mitad {
	height: 400px;
}

.animate {
	display:flex;
	justify-content: center;
	align-items: center;
	height:100%;
	margin: auto;
/* 	width: 350px; */
/* 	font-size:26px; */
	font-family: Helvetica, sans-serif, Arial;
	animation: load 1.2s infinite 0s ease-in-out;
	animation-direction: alternate;
	text-shadow: 0 0 1px white;
}
body, html{
	background-color: #090707;
	color: white;
}

$color: #64ffda;
$size: 24px;
$time: 1;


main {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #090707;
  }
  
  .dank-ass-loader {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  .dank-ass-loader .row {
	display: flex;
  }
  
  .arrow {
	width: 0;
	height: 0;
	margin: 0 -9px;
	border-left: 18px solid transparent;
	border-right: 18px solid transparent;
	border-bottom: 32.4px solid #64ffda;
	-webkit-animation: blink 1s infinite;
			animation: blink 1s infinite;
	filter: drop-shadow(0 0 27px #64ffda);
  }
  .arrow.down {
	transform: rotate(180deg);
  }
  .arrow.outer-1 {
	-webkit-animation-delay: -0.0555555556s;
			animation-delay: -0.0555555556s;
  }
  .arrow.outer-2 {
	-webkit-animation-delay: -0.1111111111s;
			animation-delay: -0.1111111111s;
  }
  .arrow.outer-3 {
	-webkit-animation-delay: -0.1666666667s;
			animation-delay: -0.1666666667s;
  }
  .arrow.outer-4 {
	-webkit-animation-delay: -0.2222222222s;
			animation-delay: -0.2222222222s;
  }
  .arrow.outer-5 {
	-webkit-animation-delay: -0.2777777778s;
			animation-delay: -0.2777777778s;
  }
  .arrow.outer-6 {
	-webkit-animation-delay: -0.3333333333s;
			animation-delay: -0.3333333333s;
  }
  .arrow.outer-7 {
	-webkit-animation-delay: -0.3888888889s;
			animation-delay: -0.3888888889s;
  }
  .arrow.outer-8 {
	-webkit-animation-delay: -0.4444444444s;
			animation-delay: -0.4444444444s;
  }
  .arrow.outer-9 {
	-webkit-animation-delay: -0.5s;
			animation-delay: -0.5s;
  }
  .arrow.outer-10 {
	-webkit-animation-delay: -0.5555555556s;
			animation-delay: -0.5555555556s;
  }
  .arrow.outer-11 {
	-webkit-animation-delay: -0.6111111111s;
			animation-delay: -0.6111111111s;
  }
  .arrow.outer-12 {
	-webkit-animation-delay: -0.6666666667s;
			animation-delay: -0.6666666667s;
  }
  .arrow.outer-13 {
	-webkit-animation-delay: -0.7222222222s;
			animation-delay: -0.7222222222s;
  }
  .arrow.outer-14 {
	-webkit-animation-delay: -0.7777777778s;
			animation-delay: -0.7777777778s;
  }
  .arrow.outer-15 {
	-webkit-animation-delay: -0.8333333333s;
			animation-delay: -0.8333333333s;
  }
  .arrow.outer-16 {
	-webkit-animation-delay: -0.8888888889s;
			animation-delay: -0.8888888889s;
  }
  .arrow.outer-17 {
	-webkit-animation-delay: -0.9444444444s;
			animation-delay: -0.9444444444s;
  }
  .arrow.outer-18 {
	-webkit-animation-delay: -1s;
			animation-delay: -1s;
  }
  .arrow.inner-1 {
	-webkit-animation-delay: -0.1666666667s;
			animation-delay: -0.1666666667s;
  }
  .arrow.inner-2 {
	-webkit-animation-delay: -0.3333333333s;
			animation-delay: -0.3333333333s;
  }
  .arrow.inner-3 {
	-webkit-animation-delay: -0.5s;
			animation-delay: -0.5s;
  }
  .arrow.inner-4 {
	-webkit-animation-delay: -0.6666666667s;
			animation-delay: -0.6666666667s;
  }
  .arrow.inner-5 {
	-webkit-animation-delay: -0.8333333333s;
			animation-delay: -0.8333333333s;
  }
  .arrow.inner-6 {
	-webkit-animation-delay: -1s;
			animation-delay: -1s;
  }
  
  @-webkit-keyframes blink {
	0% {
	  opacity: 0.1;
	}
	30% {
	  opacity: 1;
	}
	100% {
	  opacity: 0.1;
	}
  }
  
  @keyframes blink {
	0% {
	  opacity: 0.1;
	}
	30% {
	  opacity: 1;
	}
	100% {
	  opacity: 0.1;
	}
  }


  .preloader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ff6347;
	z-index: 999999;
	}